@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}
.container-header{
  background: url(../img/showcase-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: auto;
  height: 700px;
  padding-top: 100px;
}
.container-logo a{
  color: #fff;
  text-decoration: none;
  font-size: 2.5rem;
  padding-left: 100px;
}
.text-big{
  font-size: 7.5rem;
  color: #fff;
  padding-left: 100px;
  padding-top: 15px;	
}
.text-small{
  font-size: 1.5rem;
  color: #fff;
  padding-left: 100px;
  padding-top: 15px;	
}
.button-order{
  background: #2FD8E8;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.5rem;
  margin-left: 100px;
  margin-top: 15px;
}
.container-icons-title {
  margin-top: 100px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
  "titulo titulo titulo"
  "texto texto texto";
  padding-bottom: 30px;
  text-align: center;
}
.container-icons-title h1{
  color: #2C3E50;
  font-size: 3rem;
  grid-area: titulo;
}
.texto2{
  color: #2C3E50;
  font-size: 1.5rem;
  grid-area: texto;
  padding-top: 20px;
  text-align: center;
}
.container-products{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas:
  "icon1 icon2 icon3";
  padding-bottom: 90px;
}
h3{
  font-size: 1.5rem;
  text-align: center;
  margin-top: -15px;
}
.txt{
  font-size: 1.4rem;
  text-align: center;
}
.container-icons1 {
  width: 25rem;
  margin-left: 235px;
}
.img{
  margin-left: 55px;
}
.container-icons2 {
  width: 25rem;
  margin-left: 152px;
}
.container-icons3{
  width: 25rem;
  margin-left: 70px;
}
.container-customers{
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 35rem;
  color: white;
  display: flex;
  justify-content: center;
}
.container-customers h2{
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  margin-top: 75px;
}
.text-customers{
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 60px;
}
.container-imgs{
  background-color: #f9f9f9;
  width: 100%;
  height: 45rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas:
  "img1 img2 img3";
 align-items: center;
}
.container-imgs  img{
  width: 60%;
  height: 10%;
}
.img-1{
  grid-area: img1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  margin-left:55px;
}
.img-1 img{
  margin-top: 10px;
  margin-left: 100px;
}
.img-1 h3{
  margin-top: 3px;
  font-size: 2.5rem;
}
.img-1 p{
  margin-top: 10px;
  font-size: 1.3rem;
  text-align: center;
}

.img2{
  grid-area: img2;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: auto;
  margin-left:20px;
}
.img2 img{
  margin-top: 10px;
  margin-left: 100px;
}
.img2 h3{
  margin-top: 3px;
  font-size: 2.5rem;
}
.img2 p{
  margin-top: 10px;
  font-size: 1.3rem;
  text-align: center;
}

.img3{
  grid-area: img3;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: auto;
}
.img3 img{
  margin-top: 10px;
  margin-left: 100px;
}
.img3 h3{
  margin-top: 3px;
  font-size: 2.5rem;
}
.img3 p{
  margin-top: 10px;
  font-size: 1.3rem;
  text-align: center;
}
.about{
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  grid-template-rows: repeat(2, 3fr);
  grid-template-areas:
  "img titulo"
  "img texto";
}
.contaiener-final img{
  grid-area: img;
  width: 70%;
  height: 90%;
  margin-left: 200px;
  margin-top: 140px;
  padding-bottom: 120px;
  border-radius: 5px;
}
.contaiener-final h1{
  grid-area: titulo;
  font-size: 5.5rem;
  margin-top: 270px;
  font-family:'Times New Roman', Times, serif;
  padding-left: 30px;
}
.contaiener-final p{
  grid-area: texto;
  font-size: 2rem;
  padding-top:40px ;
  padding-left: 30px;
}
.footer{
  background-color: #f9f9f9;
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer p{
  font-size: 2rem;
  color: black;
}

/*mobile*/
@media screen and (max-width: 700px) {
  
.container-header{
  background: url(../img/showcase-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 700px;
  padding-top: 100px;
}

.container-logo a{
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  padding-left: 40px;
}
.text-big{
  font-size: 5rem;
  color: #fff;
  padding-left: 40px;
  padding-top: 15px;	
}
.text-small{
  font-size: 1.5rem;
  color: #fff;
  padding-left: 40px;
  padding-top: 15px;	
}
.button-order{
  background: #2FD8E8;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.5rem;
  margin-left: 40px;
  margin-top: 15px;
}
/*productos*/

.container-icons-title {
  margin-top: 80px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
  "titulo titulo titulo"
  "texto texto texto";
  padding-bottom: 30px;
  text-align: center;
}
.container-icons-title h1{
  color: #2C3E50;
  font-size: 2rem;
  grid-area: titulo;
  margin-top: -35px;
}
.texto2{
  color: #2C3E50;
  font-size: 1.5rem;
  grid-area: texto;
  text-align: center;
  margin-top: -35px;
}
.container-products{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
  "icon1"
  "icon2"
  "icon3";
  padding-bottom: 90px;
}
h3{
  font-size: 1.5rem;
  text-align: center;
  margin-top: -15px;
}
.txt{
  font-size: 1.4rem;
  text-align: center;
}
.container-icons1 {
  width: 25rem;
  margin-left: 75px;
  grid-area: icon1;
}
.img{
  margin-left: 55px;
}
.container-icons2 {
  width: 25rem;
  margin-left: 75px;
  grid-area: icon2;
  padding-bottom: 20px;
}
.container-icons3{
  width: 25rem;
  margin-left: 75px;
  grid-area: icon3;
}
/*custumer*/

.container-customers{
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 35rem;
  color: white;
  display: flex;
  justify-content: center;
}
.container-customers h2{
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.text-customers{
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}
/*feature*/

.container-imgs{
  background-color: #f9f9f9;
  width: 100%;
  height: 90rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas:
  "img1"
  "img2"
  "img3";
 align-items: center;
}
.container-imgs  img{
  width: 40%;
  height: 5%;
}
.img-1{
  grid-area: img1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  margin-left:5px;
  margin-top: -550px;
}
.img-1 img{
  margin-top: 10px;
  margin-left: 100px;
}
.img-1 h3{
  margin-top: 3px;
  font-size: 2rem;
  margin-left: -80px;
}
.img-1 p{
  margin-top: 10px;
  font-size: 1.1rem;
  text-align: center;
  margin-left: -102px;
}

.img2{
  grid-area: img2;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: auto;
  margin-left:5px;
  margin-top: -900px;
}
.img2 img{
  margin-top: 10px;
  margin-left: 100px;
}
.img2 h3{
  margin-top: 3px;
  font-size: 2rem;
  margin-left: -80px;
}
.img2 p{
  margin-top: 10px;
  font-size: 1.1rem;
  text-align: center;
  margin-left: -102px;
}

.img3{
  grid-area: img3;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: auto;
  margin-top: -350px;
}
.img3 img{
  margin-top: 10px;
  margin-left: 100px;
}
.img3 h3{
  margin-top: 3px;
  font-size: 2rem;
  margin-left: -80px;
}
.img3 p{
  margin-top: 10px;
  font-size: 1.1rem;
  text-align: center;
  margin-left: -102px;
}
/*about*/

.about{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 3fr);
  grid-template-areas:
  "img"
  "titulo";
}
.contaiener-final img{
  grid-area: img;
  width: 90%;
  height: 110%;
  margin-left: 20px;
  margin-top: 50px;
  border-radius: 5px;
}
.contaiener-final h1{
  grid-area: titulo;
  font-size: 5rem;
  margin-top: 30px;
  font-family:'Times New Roman', Times, serif;
  padding-left: 10px;
  text-align: center;
}
.contaiener-final p{
  grid-area: titulo;
  font-size: 1.5rem;
  padding-top:300px ;
  padding-left: 10px;
  text-align: center;
}
  }